
directory=Tore_physicsbyphysics/thelec
case.dimension=3
case.discretization=P1 #P1,P2

[thermo-electric]
filename=$cfgdir/Tore_thelec.json
mesh.filename=$cfgdir/1torus-3d.msh
# gmsh.partition=1

[thermo-electric.heat]
#verbose=1
verbose_solvertimer=1
pc-type=gamg
ksp-monitor=1

[thermo-electric.electric]
verbose_solvertimer=1
pc-type=gamg
ksp-monitor=1